@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --color-yellow: #FDC435;
  --color-dark: #25282B;
  --color-gray: #828282;
  --color-bg: #F9FAFF;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sans {
  font-family: 'Nunito', sans-serif;
}


/* Cor dos pontinhos de paginação */
.swiper-pagination-bullet-active {
    background: #FDC435 !important;
}

/* Cor das setas laterais */
.swiper-button-next, .swiper-button-prev {
    color: #25282B !important;
    background: white;
    width: 50px !important;
    height: 50px !important;
    border-radius: 20%;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}


.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px !important;
    font-weight: bold;
}


/* Garante que os slides tenham a mesma altura */
.swiper-slide {
    height: auto;
}